{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  <linkhref="https:
    //fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />
  <link rel="stylesheet" href="{% static "./bootstrap/css/bootstrap.min.css" %}" />
  <link rel="stylesheet" href="{% static "./css/index.css" %}" />
  <!-- <link rel="stylesheet" href="./asset/css/all-cars.css" /> -->
  <title>Vehicle Rental</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-sm">
        <a class="navbar-brand logo d-block d-lg-none fw-bold fs-4" href="/">Vehicle2Rent</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand d-none d-lg-block fw-bold fs-4 me-auto" href="/">Cab2Rent</a>
          <ul class="navbar-nav mb-2 fw-medium fs-5 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-black">{{ user.get_full_name }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "about" %}">About </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "user_profile" %}">Profile</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url "user_logout" %}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-sm">
      <div class="d-grid col-12 col-md-7 mx-auto py-5">
        <div class="bg-white rounded-5 shadow-lg py-5 px-5">
          <h4 class="fw-semibold text-center pt-3 pb-5">Book Your Favorite Vehicle</h4>

          <form action="" method="post">
            {% csrf_token %}
            <!-- Email of the user, this will be prefix from the user data -->
            <h3>Vehicle: {{ vehicle.get_full_vehicle_name }}</h3>

            <div class="mb-3">
              <label for="address" class="form-label mb-1 fw-medium">Address</label>
              {{ form.address }}
              {{ form.address.errors }}
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
              <div class="">
                <label for="city" class="form-label mb-1 fw-medium">City</label>
                {{ form.city }}
                {{ form.city.errors }}
              </div>

              <div class="">
                <label for="state" class="form-label mb-1 fw-medium">State</label>
                {{ form.state }}
                {{ form.state.errors }}
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
              <div class="">
                <label for="pick-up" class="form-label mb-1 fw-medium">Pick-up date</label>
                {{ form.start_date }}
                <small class="text-red">{{ form.start_date.errors }}</small>
              </div>

              <div class="">
                <label for="drop-off" class="form-label mb-1 fw-medium">Drop off date</label>
                {{ form.end_date }}
                {{ form.end_date.errors }}
              </div>
            </div>

            <!-- Location pick up of the user, this will be prefix from the rental data -->
            <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
              <div class="">
                <label for="pick-up-location" class="form-label mb-1 fw-medium">Pick-up location</label>
                {{ form.pickup_location }}
                {{ form.pickup_location.errors }}
              </div>

              <div class="">
                <label for="drop-of-location" class="form-label mb-1 fw-medium">Drop-off location</label>
                {{ form.dropoff_location }}
                {{ form.dropoff_location.errors }}
              </div>
            </div>

            <button type="submit"
              class="justify-content-center btn w-100 mt-3 d-flex gap-2 align-items-center fw-bolder shadow custom-btn">
              <span class="text-white">Submit</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  <footer class="py-5 bg-secondary text-white">
    <div class="container-sm">
      <div class="">
        <h4 class="special fw-medium fs-4">Vehicle2Rent</h4>
        <p>
          Revolutionizing the car rental and booking industry by leveraging
          the power of peer-to-peer (P2P)
        </p>
      </div>
    </div>
    <hr />
    <div class="container-sm">
      <p>&copy; 2024 <span class="special fw-medium fs-5">Vehicle2Rent</span>. Allrights </p>
    </div>
  </footer>
  <script src="{% static " ./js/script.js" %}"></script>
  <script src="{% static " ./bootstrap/js/bootstrap.min.js" %}"></script>
</body>

</html>