{% extends "dashboard.html" %}


{% block content %}
<main>
  <div class="container-sm">
    <div class="d-grid col-12 col-md-7 mx-auto py-5">
      <div class="bg-white rounded-5 shadow-lg py-5 px-5">
        <h4 class="fw-semibold text-center pt-3 pb-5">Edit Your Booking</h4>
        <form action="" method="post">
          
          {% csrf_token %}
        
          <div class="mb-3">
            <label for="address" class="form-label mb-1 fw-medium">Address</label>
            {{ form.address }}
          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="city" class="form-label mb-1 fw-medium">City</label>
             {{ form.city }}
             {{ form.city.errors }}
            </div>

            <div class="">
              <label for="county" class="form-label mb-1 fw-medium">county</label>
              {{ form.county }}
              {{ form.county.errors }}
            </div>

          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="pickUp" class="form-label mb-1 fw-medium">Pick-up date</label>
              {{ form.start_date }}
              {{ form.start_date.errors }}
            </div>

            <div class="">
              <label for="dropOff" class="form-label mb-1 fw-medium">Drop off date</label>
              {{ form.end_date }}
              {{ form.end_date.errors }}
            </div>
          </div>

          <!-- Location pick up of the user, this will be prefix from the rental data -->

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="pickUpLocation" class="form-label mb-1 fw-medium">Pick-up location</label>
                {{ form.pickup_location }}
                {{ form.pickup_location.errors }}
            </div>

            <div class="">
              <label for="dropOffLocation" class="form-label mb-1 fw-medium">Drop-off location</label>
              {{ form.dropoff_location }}
              {{ form.dropoff_location.errors }}
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label mb-1 fw-medium">Order Status</label>
            {{ booking.status }}
            {{ booking.status.errors }}
          </div>

          <button type="submit" class="justify-content-center btn w-100 mt-3 d-flex gap-2 align-items-center fw-bolder shadow custom-btn">
            <span class="text-white">Update Booking</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}