<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./asset/css/index.css" />
    <link rel="stylesheet" href="./asset/css/dashboard.css" />

    <title>Car Rental</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-sm">
          <a
            class="navbar-brand logo d-block d-lg-none fw-bold fs-4"
            href="/dashboard.html"
            >Cab2Rent</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <a
              class="navbar-brand d-none d-lg-block fw-bold fs-4 me-auto"
              href="/index.html"
              >Cab2Rent</a
            >
            <ul class="navbar-nav mb-2 fw-medium fs-5 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="/index.html"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about.html">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all-cars.html">Available Cars</a>
              </li>
              <li class="nav-item">
                <a
                  class="btn btn-outline-warning text-black fw-medium py-2 px-4"
                  href="/login.html"
                >
                  Get Started</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="d-flex">
      <!-- DASHBOARD SIDEBAR ON A LARGE SCREEN -->
      <aside
        class="col-2 border-end border-4 position-fixed z-2 d-none d-md-block"
      >
        <nav class="nav flex-column align-items-center justify-content-center">
          <ul class="navbar-nav text-black my-5">
            <li class="nav-item fw-bold border-2 border-bottom pt-3">
              <a
                class="nav-link active d-flex flex-column align-items-center justify-content-center"
                aria-current="page"
                href="/dashboard.html"
              >
                <div>
                  <i class="bi bi-speedometer2 fs-3"></i>
                </div>
                <span> Dashboard </span>
              </a>
            </li>
            <li class="nav-item fw-bold border-2 border-bottom pt-3">
              <a
                class="nav-link d-flex flex-column align-items-center justify-content-center"
                href="/change-password.html"
              >
                <div>
                  <i class="bi bi-shield-lock-fill fs-3"></i>
                </div>
                <span> change password </span>
              </a>
            </li>
            <li class="nav-item fw-bold border-2 border-bottom pt-3">
              <a
                class="nav-link d-flex flex-column align-items-center justify-content-center"
                href="/my-listings.html"
              >
                <div>
                  <i class="bi bi-view-list fs-3"></i>
                </div>
                <span> My Listing </span>
              </a>
            </li>
            <li class="nav-item fw-bold border-2 border-bottom pt-3">
              <a
                class="nav-link d-flex flex-column align-items-center justify-content-center"
                href="/my-bookings.html"
              >
                <div>
                  <i class="bi bi-journal-album fs-3"></i>
                </div>
                <span> My Bookings </span>
              </a>
            </li>
            <li
              class="nav-item d-flex align-items-center justify-content-center fw-bold border-2 border-bottom pt-3"
            >
              <button
                class="nav-link d-flex flex-column align-items-center justify-content-center"
              >
                <div>
                  <i class="bi bi-box-arrow-right fs-3"></i>
                </div>
                <span> Log out </span>
              </button>
            </li>
          </ul>
        </nav>
      </aside>

      <div class="col-2 d-none d-md-block"></div>

      <div class="col-12 col-md-9 mx-auto">
        <!-- DASHBOARD SIDEBAR OFF CANVAS FOR SMALLER SCREEN TOGGLER-->
        <div class="d-md-none col-6 col-sm-4 ms-2 my-2">
          <button
            class="rounded-4 fw-bold border py-2 px-3 border-white d-flex align-items-center gap-1"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample"
          >
            <span>
              <i class="bi bi-menu-button-wide fs-3"></i>
            </span>
            <span> Dashboard </span>
          </button>
        </div>

        <!-- MOBILE DASHBOARD MENU -->
        <div
          class="offcanvas offcanvas-start d-md-none"
          tabindex="-1"
          id="offcanvasExample"
          aria-labelledby="offcanvasExampleLabel"
        >
          <div class="offcanvas-header">
            <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <nav
              class="nav flex-column align-items-center justify-content-center"
            >
              <ul class="navbar-nav text-black my-5">
                <li class="nav-item fw-bold border-2 border-bottom pt-3">
                  <a
                    class="nav-link active d-flex flex-column align-items-center justify-content-center"
                    aria-current="page"
                    href="/dashboard.html"
                  >
                    <div>
                      <i class="bi bi-speedometer2 fs-3"></i>
                    </div>
                    <span> Dashboard </span>
                  </a>
                </li>
                <li class="nav-item fw-bold border-2 border-bottom pt-3">
                  <a
                    class="nav-link d-flex flex-column align-items-center justify-content-center"
                    href="/change-password.html"
                  >
                    <div>
                      <i class="bi bi-shield-lock-fill fs-3"></i>
                    </div>
                    <span> change password </span>
                  </a>
                </li>
                <li class="nav-item fw-bold border-2 border-bottom pt-3">
                  <a
                    class="nav-link d-flex flex-column align-items-center justify-content-center"
                    href="/my-listings.html"
                  >
                    <div>
                      <i class="bi bi-view-list fs-3"></i>
                    </div>
                    <span> My Listing </span>
                  </a>
                </li>
                <li class="nav-item fw-bold border-2 border-bottom pt-3">
                  <a
                    class="nav-link d-flex flex-column align-items-center justify-content-center"
                    href="/my-bookings.html"
                  >
                    <div>
                      <i class="bi bi-journal-album fs-3"></i>
                    </div>
                    <span> My Bookings </span>
                  </a>
                </li>
                <li
                  class="nav-item d-flex align-items-center justify-content-center fw-bold border-2 border-bottom pt-3"
                >
                  <button
                    class="nav-link d-flex flex-column align-items-center justify-content-center"
                  >
                    <div>
                      <i class="bi bi-box-arrow-right fs-3"></i>
                    </div>
                    <span> Log out </span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- MAIN content comes here -->
        <div>my booking</div>
      </div>
    </main>

    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
