{% extends "base.html" %}


{% block content %}
  <main class="main">
    <div class="container-sm">
      <div class="custom-container shadow-3">
        <div class="wrapper py-5 w-100">
          <div class="d-flex justify-content-center pb-2">
            <h2 class="fw-medium fs-4 mb-3">Enter Email To Reset Password</h2>
          </div>
          <form action="{% url "reset_password" %}" metho="post">
             {% csrf_token %}
            <div class="mb-3">
              <label for="email" class="form-label mb-1 fw-medium">Email</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="johndoe@email.com " required/>
            </div>
            <button type="button" class="justify-content-center btn w-100 mt-3 d-flex align-items-center fw-bolder shadow custom-btn">
              <span class="text-white">Password Reset</span>
            </button>
          </form>
          <p class="no-acc">Remember Password? <a href="{% url "user_login" %}">Login in</a></p>
        </div>
      </div>
    </div>
  </main>
{% endblock content%}