{% extends "dashboard.html" %}
{% load static %}

{% block content %}
 
  <!-- main content -->
  <div class="container-sm">
    <div class="d-grid col-12 col-md-10 col-lg-7 mx-auto py-5">
      <div class="bg-white rounded-5 shadow-lg py-5 px-5">
        <h4 class="fw-semibold text-center pt-3 pb-5">List Your Car</h4>
        
        <form action="{% url "update_vehicle" vehicle.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Email of the user, this will be prefix from the user data -->
          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="vehicle-name" class="form-label mb-1 fw-medium">Vehicle Name</label>
              <input type="text" id="car-name" name="vehicle-name" class="form-control" placeholder="Avalon" value="Avalon" required />
            </div>

            <div class="">
              <label for="vehicle-modal" class="form-label mb-1 fw-medium">Vehicle model</label>
              <input type="text" id="car-modal" name="vehicle-model" class="form-control" placeholder="2024" value="2024" required/>
            </div>
          </div>

          <div class="mb-3">
            <label for="formfile" class="form-label mb-1 fw-medium">Upload Vehicle Document</label>
            <input class="form-control" type="file" name="formfile" id="formFile" value="{{ vehicle.document.url }}" />
          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div>
              <label for="vehicle-make" class="form-label mb-1 fw-medium">Vehicle Make</label>
              <select class="form-select" id="car-make" name="vehicle-make" aria-label="Default select example" value="vehicle.vehicle_make">
                {% for value, label in VEHICLE_MAKES %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>

            <div>
              <label for="vehicle-type" class="form-label mb-1 fw-medium">Vehicle Type</label>
              <select class="form-select" aria-label="Default select example" id="car-type" name="vehicle-type" value="{{ vehicle.vehicle_type }}">
                {% for value, label in VEHICLE_TYPES %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>

          </div>
          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="vehicle-price" class="form-label mb-1 fw-medium">Price Per/Hr</label>
              <input type="text" id="car-price" name="vehicle-price" class="form-control" placeholder="$45" value="{{ vehicle.get_price_per_hr }}" required />
            </div>

            <div class="">
              <label for="pickup-location" class="form-label mb-1 fw-medium" >Pick Up Location</label>
              <input type="text" id="pickup-location" name="pickup-location" class="form-control" placeholder="123 my street " value="{{ vehicle.location }}" required />
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="max-speed" class="form-label mb-1 fw-medium">Max. Speed</label>
              <input type="text" id="max-speed" name="max-speed" class="form-control" placeholder="23.45 km/hr" value="{{ vehicle.max_speed }}" required />
            </div>

            <div class="">
              <label for="engine-capacity" class="form-label mb-1 fw-medium" >Engine Capacity</label>
              <input type="text" id="engine-capacity" name="engine-capacity" class="form-control" placeholder="1000 Cc" value="{{ vehicle.engine_capacity }}" required />
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div class="">
              <label for="no-door" class="form-label mb-1 fw-medium">Number of doors</label>
              <select class="form-select" min="1" id="no-door" name="no-door" placeholder="2" value="{{ vehicle.total_vehicle_doors }}" required>
                {% for value, label in TOTAL_VEHICLE_DOORS %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="">
              <label for="sit-capacity" class="form-label mb-1 fw-medium" >Seat Capacity</label>
              <select class="form-select" name="seat-capacity" placeholder="4" value="{{ vehicle.total_passengers }}" required>
                {% for value, label in TOTAL_PASSENGERS %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
            <div>
              <label for="gear-type" class="form-label mb-1 fw-medium">Gear Type</label>
              <select class="form-select" id="gear-type" aria-label="Default select example" value="{{ vehicle.transmission_type }}">
                {% for value, label in GEAR_TYPES %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>

            <div>
              <label for="temp" class="form-label mb-1 fw-medium">Temperature Regulator</label>
              <select class="form-select" aria-label="Default select example" id="temp" value="{{ vehicle.temperature_regulator }}">
                {% for value, label in TEMPERATURE_REGULATOR %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="mb-3">
            <label for="userName" class="form-label mb-1 fw-medium">Car Description</label>
            <textarea class="form-control" placeholder="Description..." value="{{ vehicle.description }}" ></textarea>
          </div>

          <button type="submit" class="justify-content-center btn w-100 mt-3 d-flex gap-2 align-items-center fw-bolder shadow custom-btn">
            <span class="text-white">Submit</span>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}