{% extends "dashboard.html" %}

{% block content %}
   <!-- Main content comes here -->
  <div class="bg-light mt-5 rounded-5 shadow-lg py-3 px-3 w-100 table-responsive-lg">
    {% if vehicles %}
      <table class="table table-light">
        <caption class="fw-bold fs-5 caption-top">My Vehicle Listings</caption>
        <thead>
          <tr>
            <th scope="col">Ref</th>
            <th scope="col">Vehicle Name</th>
            <th scope="col">Date Listed</th>
            <th scope="col">Bookings</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          {% for vehicle in vehicles %}
            <tr>
              <th scope="row">1</th>
              <td>{{ vehicle.model }}</td>
              <td>{{ vehicle.created_on|date }}</td>
              <td>5</td>
              <td>Booked</td>
              <td class="d-flex gap-1">
                <span class="bg-warning rounded-pill d-inline-block py-1 px-3">
                  <a href="{% url "update_vehicle" vehicle.id %}" class="text-white text-decoration-none">Update</a>
                </span>

                <span class="bg-danger text-white rounded-pill d-inline-block py-1 px-3">
                  <a href="{% url "delete_vehicle" vehicle.id %}" class="text-white text-decoration-none">Delete</a>
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <h1>You have not added any vehicle yet.</h1>
    {% endif %}
  </div>
{% endblock content %}
