{% extends "base.html" %}


{% block content %}
    <main>
      <div class="container-sm">
        <div class="col">
          <!-- Rental product -->
          <div class="bg-white rounded-3 shadow p-4">
            <!-- Rental Image -->
            <div class="rental-deal__img-wrapper d-flex align-items-center justify-content-center" >
              <img src="./media/images/avalon.png" class="img-fluid h-100" alt="" />
            </div>

            <!--  -->
            <div class="mt-3">
              <div class="d-md-flex justify-content-between">
                <h5 class="fw-medium fs-2">{{ vehicle.vehicle_make }} {{ vehicle.vehicle_type}} {{ vehicle.model }}</h5>
                <div class="py-2 py-md-0">
                  <a href="{% url "book_vehicle" vehicle_id=vehicle.id %}" class="btn d-inline-block custom-btn text-white fs-3" >
                    <span class="d-inline-block me-3">Rent Now</span>
                    <span><i class="bi bi-arrow-right"></i></span>
                  </a>
                </div>
              </div>

              <div class="py-3">
                <div>
                  <span class="fw-medium fs-4">Listed By::</span>
                  <span class="fs-5">{{ vehicle.owner.get_full_name }}</span>
                </div>
              </div>

              <div class="py-3">
                <div>
                  <span class="fw-medium fs-4">Pick Up Location::</span>
                  <span class="fs-5">{{ vehicle.pickup_location|capfirst }} </span>
                </div>
              </div>
              <hr class="bg-secondary" />

              <!-- PRICE AND MAX SPEED OF THE CAR -->

              <div class="py-3">
                <div class="d-flex align-items-center my-3 justify-content-between text-secondary fs-4" >
                  <div>
                    <span class="fw-medium text-black">Max.speed</span>
                  </div>

                  <div>
                    <span class="">{{ vehicle.get_max_speed }}</span>
                  </div>
                </div>

                <div class="d-flex align-items-center my-3 justify-content-between text-secondary fs-3" >
                  <div>
                    <span class="fw-medium">Price</span>
                  </div>

                  <div>
                    <span class="fw-medium text-black"></span>
                    <span class="">{{ vehicle.get_price_per_hour }}</span>
                  </div>
                </div>
              </div>

              <!-- The Little details -->
              <div class="border border-2 p-2">
                <h3 class="fw-medium fs3">Other Details</h3>
                <div class="d-flex align-items-center my-3 justify-content-between text-secondary fs-5 fs-md-4" >
                  <div>
                    <span class="icomoon-free--make-group"></span>
                    <span>{{ vehicle.vehicle_make }}</span>
                  </div>

                  <div>
                    <span class="iconamoon--type-bold"></span>
                    <span>{{ vehicle.vehicle_type }}</span>
                  </div>

                </div>
                <div class="d-flex align-items-center my-3 justify-content-between text-secondary fs-5 fs-md-4" >
                  <div>
                    <span><i class="bi bi-person"></i></span>
                    <span>{{ vehicle.get_total_passengers }}</span>
                  </div>

                  <div>
                    <span class="icon-park-solid--manual-gear"></span>
                    <span>{{ vehicle.transmission_type }}</span>
                  </div>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between text-secondary fs-5 fs-md-4" >
                  <div>
                    <span
                      class="streamline--interface-weather-snow-flake-winter-freeze-snow-freezing-ice-cold-weather-snowflake">
                    </span>
                    <span>Air conditioning</span>
                  </div>

                  <div>
                    <span class="mdi--car-door"></span>
                    <span>{{ vehicle.get_total_doors }}</span>
                  </div>
                </div>
                <div class="d-flex my-3 align-items-center justify-content-between text-secondary fs-5 fs-md-4">
                  <div>
                    <span class="maki--fuel"></span>
                    <span> {{ vehicle.fuel_type }}</span>
                  </div>

                  <div>
                    <span class="mingcute--engine-fill"></span>
                    <span>{{ vehicle.engine_capacity }}</span>
                  </div>

                </div>
              </div>
              <hr class="bg-secondary" />
            </div>
            <div class="border border-2 p-2">
              <h3 class="fw-medium py-1">Vehicle Description</h3>
              <hr class="bg-secondary" />
              <p>
                {{ vehicle.description|capfirst }}
              </p>
            </div>
            <div class="my-3">
              <a href="{% url "book_vehicle" vehicle_id=vehicle.id %}" class="btn custom-btn text-white fs-3">
                <span class="d-inline-block me-3">Rent Now</span>
                <span><i class="bi bi-arrow-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock content %}