{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
      <section class="container-sm">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="fw-bold text-black-50 hero__title">
              We're changing the way people rent and book vehicles.
            </h1>
            <p class="lead">
              <span class="special fs-4 fw-bold"> Vehicle2rent </span> is a
              user to user vehicle sharing platform. This approach allows vehicle owners to 
              rent out their vehicles directly to renters, without any third party involved. 
              Hence providing an affordable solution for both owners and renters on the
              platform as there are no third party cost involved.
            </p>
          </div>
          <div class="d-flex align-items-center gap-4 col-lg-6 img-sec">
            <div
              class="d-flex img-wrapper align-items-center justify-content-center rounded-5 overflow-hidden shadow"
            >
              <img
                src="./media/images/hero.webp"
                class="img-fluid h-100"
                alt=""
              />
            </div>
            <div class="">
              <div
                class="d-flex my-3 img-wrapper align-items-center justify-content-center rounded-5 overflow-hidden shadow"
              >
                <img
                  src="./media/images/bugatti.webp"
                  class="img-fluid h-100"
                  alt=""
                />
              </div>
              <div
                class="d-flex align-items-center img-wrapper justify-content-center rounded-5 overflow-hidden shadow"
              >
                <img
                  src="./media/images/ferrari.jpg"
                  class="img-fluid h-100"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="container-sm">
          <h1 class="fw-bold">Our mission</h1>
          <ul class="list-unstyled pt-5">
            <li class="d-flex gap-3">
              <div>
                <div class="circle rounded"></div>
              </div>
              <p class="fs-5">
                This platform aims to connect vehicle owners and renters 
                directly through its marketplace without a third party trust
                model.
              </p>
            </li>
            <li class="d-flex gap-3">
              <div>
                <div class="circle rounded"></div>
              </div>
              <p class="fs-5">
                One of the key benefits of using Vehicle2rent is its affordability 
                and flexiblity as vehicle owners can set the rates at which they want 
                to rent out their vehicles giving a great control of their properties.
              </p>
            </li>
            <li class="d-flex gap-3">
              <div>
                <div class="circle rounded"></div>
              </div>
              <p class="fs-5">
                For renters on the platform, Vehicle2rent provides a wide 
                range of vehicle to rent without a third party involved
                making it super affordable comapred to other services.
              </p>
            </li>
          </ul>
        </div>
      </section>
    </main>
{% endblock content %}

