:root {
  --custom-pri: #ff5c00;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  overflow: hidden;
  padding: 50px 0;
}

main {
  min-height: 80vh;
}

/* button */
.custom-btn {
  background-color: var(--custom-pri);
}

.custom-btn:hover {
  background-color: rgba(255, 92, 0, 0.9);
}

.custom-btn:active {
  background-color: rgb(255, 92, 0);
}

/* Custom Icons */
/* //////////////////////////////////////////////// */
.icon-park-solid--manual-gear {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath d='M40 12v12H8m16-12v24M8 12v24'/%3E%3Cpath fill='%23000' d='M44 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0M28 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0M12 8a4 4 0 1 1-8 0a4 4 0 0 1 8 0m16 32a4 4 0 1 1-8 0a4 4 0 0 1 8 0m-16 0a4 4 0 1 1-8 0a4 4 0 0 1 8 0m28 4a4 4 0 1 0 0-8a4 4 0 0 0 0 8'/%3E%3C/g%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.mdi--car-door {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 14h-3v2h3zm3 7H3V11l8-8h10a1 1 0 0 1 1 1zM11.83 5l-6 6H20V5z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.streamline--interface-weather-snow-flake-winter-freeze-snow-freezing-ice-cold-weather-snowflake {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' d='m5 .5l2 2l2-2M.5 9l2-2l-2-2M9 13.5l-2-2l-2 2M13.5 5l-2 2l2 2m-10-5.5L5 5m0 4l-1.5 1.5m7-7L9 5m0 4l1.5 1.5M7 2.5v9M2.5 7h9'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/* /////////////////////////////////////// */
/* Navbar  */
/* Customizing the button toggler of the navbar */
.navbar-toggler {
  border: 0px;
  outline: none;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

nav .navbar-brand {
  color: var(--custom-pri);
}

.navbar-nav .nav-link:active {
  color: var(--custom-pri) !important;
  text-decoration: underline;
}

.sub-heading {
  background-color: rgba(255, 92, 0, 0.1);
  color: var(--custom-pri);
}

/* Forms background imgs */
.custom-container {
  max-width: 520px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  backdrop-filter: blur(24px);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main {
  background: url(/media/images/hero.webp) no-repeat center 50%;
}

@media (max-width: 640px) {
  section {
    padding: 30px 20px;
  }
}